<!doctype html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
             <title>Djnago Channels WebRTC</title>
</head>
<body>
<div><h3 id="label-username">
    NAITIK
    <input type="" id="username">
      <button id="join-btn">Join Room</button>
  </h3>
</div>
  <div class="main-gird">
      <div id="video-contaier">
          <div>
              <video  id="local-video" autoplay playsinline></video>
              <button id="toggle-audio">Audio Mute</button>
              <button id="toggle-video">Video Off</button>

          </div>
      </div>
      <div id="chat">
          <h3>Chat</h3>
          <div id="message">
              <ul id="message-list"></ul>
          </div>
      </div>
      <div>
          <input type="" id="msg">
          <button id="send-msg">Send message</button>
          <button id="share-screen">Share Screen</button>
      </div>
  </div>
</body>
</html>